<%
total_api=measure('clirr_total_api_changes')
if total_api
  api_breaks=measure('clirr_api_breaks')
  api_behavior_change=measure('clirr_api_behavior_changes')
  new_api=measure('clirr_new_api')
%>
      <div class="dashbox">
        <h3>API Changes</h3>
        <p><span class="big"><%= format_measure(total_api, :url => "#{ApplicationController.root_context}/plugins/resource/#{@project.id}?page=clirr" )%></span></p>
        <% if api_breaks %>
        <p><span"><%= format_measure(api_breaks, :suffix => ' API breaks', :url => url_for(:controller => 'drilldown', :action => 'violations', :id => @project.id, :rule => 'clirr:clirr-api-break')) %></span></p>
        <% end %>
        <% if api_behavior_change %>
        <p><span"><%= format_measure(api_behavior_change, :suffix => ' API behavior changes', :url => url_for(:controller => 'drilldown', :action => 'violations', :id => @project.id, :rule => 'clirr:clirr-api-behavior-change')) %></span></p>
        <% end %>
        <% if new_api %>
        <p><span"><%= format_measure(new_api, :suffix => ' new API', :url => "#{ApplicationController.root_context}/plugins/resource/#{@project.id}?page=clirr") %></span></p>
        <% end %>
  </div>
<% end %>