<%
   total_api=measure('clirr_total_api_changes')
   if total_api
     api_breaks=measure('clirr_api_breaks')
     api_behavior_change=measure('clirr_api_behavior_changes')
     new_api=measure('clirr_new_api')
%>
  <div class="widget-measure-container">
    <div class="widget-measure widget-measure-main">
      <span class="widget-label">API Changes</span>
      <%= format_measure(total_api, :url => "#{ApplicationController.root_context}/plugins/resource/#{@project.id}?page=clirr") %>
    </div>
    <% if api_breaks %>
      <div class="widget-measure">
        <span class="widget-label">API breaks</span>
        <%= format_measure(api_breaks, :url => "#{url_for(:controller => 'component_issues', :action => 'index')}?id=#{url_encode(@project.key)}#resolved=false|rules=#{url_encode('clirr:clirr-api-break')}") %>
      </div>
    <% end %>
    <% if api_behavior_change %>
      <div class="widget-measure">
        <span class="widget-label">API behavior changes</span>
        <%= format_measure(api_behavior_change, :url => "#{url_for(:controller => 'component_issues', :action => 'index')}?id=#{url_encode(@project.key)}#resolved=false|rules=#{url_encode('clirr:clirr-api-behavior-change')}") %>
      </div>
    <% end %>
    <% if new_api %>
      <div class="widget-measure">
        <span class="widget-label">New API</span>
        <%= format_measure(new_api, :url => "#{ApplicationController.root_context}/plugins/resource/#{@project.id}?page=clirr") %>
      </div>
    <% end %>
  </div>
<% end %>
